**/.idea/
**/.vscode/
**/.project
**/.settings/
**/.pydevproject

**/.classpath
**/.gradle/
**/target/
**/bin/
**/build/
**/videos

**/node_modules
**/package-lock.json
**/test-results/

**/.pytest_cache
**/__pycache__
python/**/videos/

reporting/*

**/allure-results
**/cypress/cypress/
