**/.idea/
**/.vscode/
**/.project
**/.settings/
**/.pydevproject

**/.classpath
**/target/
**/.gradle/
**/build/

**/node_modules
**/package-lock.json

**/.pytest_cache
**/__pycache__

**/cucumber-report.html
tests-java/logs/*

reporting/*
