**/.idea/
**/.vscode/
**/.project
**/.settings/
**/.pydevproject

**/.classpath
**/.gradle/
**/target/
**/build/
**/test/videos

**/node_modules
**/package-lock.json

**/.pytest_cache
**/__pycache__
python/**/videos/

reporting/*

**/allure-results
**/cypress/cypress/
