name: shared-report-job

on:
  workflow_call:
    inputs:
      browser:
        required: true
        type: string

jobs:
  report:
    runs-on: ubuntu-latest
    container:
      image: eclipse-temurin:8-jre
    env:
      ALLURE: "2.35.1"
      EXECUTOR_NAME: "Github Actions"
      EXECUTOR_TYPE: "github"
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: artifact_test
          path: reporting

      - name: Report
        run: |
          apt-get update && apt-get install -y unzip
          curl https://github.com/allure-framework/allure2/releases/download/${ALLURE}/allure-${ALLURE}.zip -L -o /tmp/allure.zip
          unzip /tmp/allure.zip -d /usr/local/
          ln -s /usr/local/allure-${ALLURE}/bin/allure /usr/local/bin/allure
          ./allure.sh --browser ${{ inputs.browser }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: artifact_report
          path: reporting/*
